* {
	font-family: Arial;
}
body {
	background-color: #383838;
}
a {
	text-decoration: none;
	color: inherit;
}
/*HEAD*/
.head {
	background-color: white;
}
/*Logo*/
.logo img {
	width: 100%;
}
.titulo p {
	text-transform: uppercase;
	font-size: 12px;
}
/*busqueda*/
.busqueda input {
	width: 100%;
	height: 100%;
}
/*banner*/
.banner-img img {
	background-color: white;
	width: 100%;
}
.banner-info h1 {
	text-transform: uppercase;
}
.banner-info {
	color: lightgray;
	font-size: 15px;
}
.boton-verde {
	padding: 8px;
	border: 2px solid #389654;
	border-radius: 5px;
	color: #389654;
	font-size: 15px;
}
.inside-info table {
	margin-top: 15px;
	width: 300px;
	text-align: justify;

}
.inside-info td {
	font-weight: lighter;
	padding-bottom: 5px;
}
.inside-info p {
	padding-top: 8px;
}
/*botones*/
.boton-amarillo {
	background-color: #DFB636;
	border-radius: 5px;
}
.boton-amarillo span {
	margin: 5px;
	padding-top: 8px;
	padding-bottom: 8px; 
	padding-left: 5px;
	padding-right: 5px;
	font-size: 18px;
	text-transform: uppercase;
	color: #FEFEFD;
}
.boton-trailer{
	margin-top: 20px;
}
.boton-naranja {
	background-color: #BB7B29;
	border-radius: 5px;
}
 .boton-ticket {
 	margin-top: 20px;
 }
 .boton-ticket span {
	margin: 5px;
	padding-top: 8px;
	padding-bottom: 8px; 
	padding-left: 5px;
	padding-right: 5px;
	font-size: 18px;
	text-transform: uppercase;
	color: #FEFEFD;
 }

