* {
	font-family: Arial;
}

a {
	text-decoration: none;
	color: inherit;
}
/*HEAD*/
.head {
	background-color: white;
}
/*Logo*/
.logo img {
	width: 100%;
}
.titulo p {
	text-transform: uppercase;
	font-size: 12px;
}
/*busqueda*/
.busqueda input {
	width: 100%;
	height: 100%;
}
/*banner*/
.banner-img img {
	background-color: white;
	width: 100%;
}
.banner-info h1 {
	text-transform: uppercase;
}
.banner-info {
	color: lightgray;
	font-size: 15px;
}
.boton-verde {
	padding: 8px;
	border: 2px solid #389654;
	border-radius: 5px;
	color: #389654;
	font-size: 15px;
}
.inside-info table {
	margin-top: 15px;
	width: 300px;
	text-align: justify;

}
.inside-info td {
	font-weight: lighter;
	padding-bottom: 5px;
}
.inside-info p {
	padding-top: 8px;
}
/*botones*/
.boton-amarillo {
	background-color: #DFB636;
	border-radius: 5px;
}
.boton-amarillo span {
	margin: 5px;
	padding-top: 8px;
	padding-bottom: 8px; 
	padding-left: 5px;
	padding-right: 5px;
	font-size: 18px;
	text-transform: uppercase;
	color: #FEFEFD;
}
.boton-trailer{
	margin-top: 20px;
}
.boton-naranja {
	background-color: #BB7B29;
	border-radius: 5px;
}
 .boton-ticket {
 	margin-top: 20px;
 }
 .boton-ticket span {
	margin: 5px;
	padding-top: 8px;
	padding-bottom: 8px; 
	padding-left: 5px;
	padding-right: 5px;
	font-size: 18px;
	text-transform: uppercase;
	color: #FEFEFD;
 }
 /*Articulos marcados*/

.marked-section {
	background-color: #DFB636;
}
.imagen-destacada img {
	width: 100%;
	transition: all 0.5s ease;
}
.imagen-destacada img:hover {
	width: 105%;
	transition: all 0.5s ease;
}
/*contenidos centrales*/
.refuerzo {
	padding-top: 150px;
	padding-left: 50px;
}
.refuerzo h2 {
	color: #D0D0D0;
	margin-top: 10px;
	margin-bottom: 10px;
}
.lightcolor {
	color: #D4D4D4;
	font-weight: lighter;
}
.refuerzo h4 {
	color: #BB7B29;
	margin-top: 10px;
	margin-bottom: 10px;
}

.news h1 {
	color: #D0D0D0;
	margin-top: 60px;
}
.titulo-news {
	color: black;
}
 .contenido-news , .date {
 	color: #D9D9D6;
 }
 .news p {
 	margin-top: 15px;
 	margin-bottom: 15px; 
 }
 .news a {
 	text-transform: uppercase;
 	margin-top: 20px;
 	font-weight: bold;
 	
 }
 /*fix colors*/
 .contenidos {
 	background-color: #FFFFFF;
 }
 .cont-banner {
 	background-color: #383838;
 }
 .image-section {
 	background-color: #FFFFFF;
 }
 .img-sct img {
 	max-height: 420px;
 }
 .footer {
 	background-color: #F3F3F3;
 	margin-top: 50px;
 }
 /*Footer*/
 .footer p {
 	color: #CBCBCB;
 	font-size: 10px;
 	padding: 20px;
 }
 .footer h4 {
 	color: #CBCBCB;
 	padding: 20px;
 }
 /*fix icon and search bar*/
 .logo-bg6 {
 	position: absolute;
 	top: 40%;
 	left: 40%;
 }
 .logo-bg6 img {
 	width: 60px;
 }